.navbar-inverse .navbar-inner {
  background: none;
  background-color: #7b030f;
  border-bottom: 1px solid black;
}

.navbar-inverse .brand {
  color: white;
}

.navbar-inverse .brand:hover {
  color: #ccc;
}

#logo {
  margin-top: -17px;
  margin-right: -60px;
}

.hero-unit h1 {
  margin-bottom: 10px;
}
